<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Plan</title>
  </head>
  <body>
    <a href="{%url 'belt:my_index'%}">Home</a> | <a href="{%url 'belt:logout'%}">Log out</a>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <h2>Add A Trip!</h2>
    <form  action="{%url 'belt:addinfo'%}" method="post">
      {% csrf_token %}
      Destination:<input type="text" name="destination" value="">
      <br>
      Description:<input type="text" name="description" value="">
      <br>
      Start Date:<input type="date" name="start" value="">
      End Date: <input type="date" name="end" value="">
      <input type="submit" name="" value="Submit Plan!">
    </form>

  </body>
</html>
