<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Page</title>
  </head>
  <body>
      <a href="{%url 'belt:my_index'%}">Home</a> | <a href="{%url 'belt:logout'%}">Log out</a>
    <h3>Trip Information:</h3>
    <h4>{{location.destination}}</h4>
    <p>Planned By: {{location.traveler.fname}} {{location.traveler.lname}}</p>
    <p>Description: {{location.plan}}</p>
    <p>Travel Date From: {{location.startdate}}</p>
    <p>Travel Date To: {{location.enddate}}</p>
  </body>


  <h4>Other users' joining this trip:</h4>
  {% for item in tripInfo%}
  <p>{{item.users.fname}} {{item.users.lname}}</p>
  {%endfor%}
</html>
